@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --main-bg-color: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --white-bg: white;

    --main-font-family: 'Manrope', sans-serif;
    --font-weight-500: 500;
    --font-weight-500: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    height: 100%;
}

body {
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font-family);
    word-spacing: 5px;
}

@media screen and (max-width: 740px) {
    body {
        align-items: normal;
    }
}

.container-flex{
    display:flex;
}

.container-flex-direction {
    flex-direction: column;
}

.hide-element {
    display:none;
}

.article-container {
    max-width:55rem;
    border-radius: 20px;
    position:relative;
}

@media screen and (max-width: 740px) {
    .article-container {
        flex-direction: column;
        padding:2rem
    }
}

.article-image-container {
    flex: 0 0 40%;
    background-image: url('./images/drawers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
}

@media screen and (max-width: 740px) {
    .article-image-container {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;  
    }
}

.article-section {
    background-color: var(--white-bg);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:5%;
    row-gap: 15px;
    box-shadow: 0px 10px 40px var(--grayish-blue);
}

@media screen and (max-width: 740px) {
    .article-section{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.article-heading {
    color: var(--very-dark-grayish-blue);
    font-size:22px;
}

.article-paragraph {
    color: var(--desaturated-dark-blue);
    font-size: 14px;
}

.article-footer {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.author-info {
    column-gap: 20px;
}

.author-image-container {
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow: hidden;
}

.author-image {
    object-fit: fill;
    height:inherit;
    width:inherit;
}

.blog-signature {
    row-gap: 5px;
}

.author-name {
    font-weight: var(--font-weight-500);
    color: var(--very-dark-grayish-blue)
}

.published-date {
    color: var(--grayish-blue);
    word-spacing: 0px;
}

.share-btn {
    width:35px;
    height:35px;
    border-radius:50%;
    background-color: var(--main-bg-color);
    padding-top:6px;
    padding-left:10px;
    cursor: pointer;
}

.media-platforms {
    background: var(--very-dark-grayish-blue);
    padding: 15px;
    position: absolute;
    justify-content: space-evenly;
    width:250px;
    border-radius: 10px;
    right:-6.5rem;
    bottom:4rem;
}

.sharing-platforms {
    color: var(--white-bg);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.pointing-arrow {
    width:0;
    height:0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top:15px solid var(--very-dark-grayish-blue);
    position:absolute;
    right:0.2rem;
    bottom:3.2rem;    
}

@media screen and (max-width: 740px) {
    .pointing-arrow{
        display: none;
    }

    .article-footer {
        position:static;
    }

    .article-container {
        position:relative;
    }

    .media-platforms {
        position:static;
        width:100%;
    }
}